.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 30%;
	background: url(https://d233eq3e3p3cv0.cloudfront.net/max/1000/0*HQxEt_Yi6xPf7LtV.jpeg) repeat;
	background-size: cover;
	border-left: 1px #000 solid;
}

.wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	top: 75%;
	text-align: center;
	background: white;
}

.wrapper img#gravatar {
	display: inline-block;
	width: 90px;
	height: 90px;
	border: solid white 4px;
	margin-top: -50px;
}

.wrapper h1 {
	color: #333332;
	font-size: 1.6rem;
	line-height: 1rem;
	font-weight: bold;
	padding-top: 0.4em;
}

.wrapper h3 {
	color: rgb(122, 122, 122);
	font-size: 0.9rem;
	line-height: 0.8rem;
	font-weight: normal;
	font-style: italic;
}

abbr[title="and"] {
	font-family: Baskerville,Palatino,"Book Antiqua",serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1rem;
	position: relative;
	top: 1px;
	border-style: none;
	cursor: default;
}

.sidebar-location {
	position: relative;
	top: -5px;
	font-size: 0.8rem;
	color: rgb(122, 122, 122);
	font-style: italic;
}

.sidebar-location i {
	padding-right: 2px;
}

.wrapper #gravatar {
	box-shadow: 0 1px 5px #000;
}

.main {
	width: 80%;
	padding-top: 5%;
}

article {
	margin: 0 10%;
}

.article-label {
	float: left;
	margin: 12px 20px 0 0;
	width: 27px;
	border-radius: 50%;
	text-align: center;
}

.article-label i {
	line-height: 40px;
}

.article-title  {
	font-size: 1.5rem;
	margin-bottom: 0;
}

.article-title a {
	color: black;
}

.article-title a:hover {
	text-decoration: none;
	color: #404853;
}

.article-date {
	display: block;
	color: #c7c2b8;
	font-size: 1rem;
}

.article-body {
	padding-top: 2%;
	padding-bottom: 5%;
}

.article-body p {
	font-size: 1rem;
	line-height: 1.7rem;
	color: #69665b;
}

.article-body p:first-of-type {
	font-size: 1.3rem;
	line-height: 2.2rem;
	padding-bottom: 1.2%;
}