---
layout: default
style: blog
---
<header class="sidebar">
	<div class="sidebar-top"></div>
	<div class="sidebar-bottom">
			<img src="http://www.gravatar.com/avatar/05e56d6b576f8df89bd1f47622e71d27?s=90" class="img-circle" id="gravatar">
			<h1>Harrison Sweeney</h1>
			<h3><span>Designer <abbr title="and">&</abbr> Developer of <a href='http://www.harrisonsweeney.com/pindex'>nice</a> <a href='http://www.tutoric.com'>things</a>. Technology enthusiast and devout Apple fanboy.</span></h3>
	</div>
</header>
<div class="main">
	<article class="article">
		{% if page.title %}
		<header>
			<span class="badge badge-info"><i class="icon-book icon-2x"></i></span>
			<h1><a class="article-link" href="#">{{ page.title }}</a></h1>
			<time>{{ page.date | date: "%B %Y" }}</time>
		</header>
		{% endif %}
		<div class="article-body">
			{{ content }}
		</div>
	</article>
</div>
