---
layout: default
---
<header class="sidebar">
	<div class="sidebar-top"></div>
	<div class="sidebar-bottom">
			<img src="http://www.gravatar.com/avatar/05e56d6b576f8df89bd1f47622e71d27?s=100" class="img-circle" id="gravatar">
			<h1>Harrison Sweeney</h1>
			<h3><span>Designer <abbr title="and">&</abbr> Developer of <a href='http://www.harrisonsweeney.com/pindex'>nice</a> <a href='http://www.tutoric.com'>things</a>. Technology enthusiast and devout Apple fanboy.</span></h3>
			<div class='icons'>
				<a href='http://twitter.com/harrisonjames'><i class="icon-twitter"></i></a>
				<a href='http://github.com/h4rrison-james'><i class="icon-github"></i></a>
				<a href='http://au.linkedin.com/pub/harrison-sweeney/48/652/486/'><i class="icon-linkedin"></i></a>
			</div>
	</div>
</header>
<div class="main">
	<article class="article">
		<div class="article-body">
			{{ content }}
		</div>
	</article>
</div>
