---
layout: default
style: blog
---
<header class="sidebar">
	<div class="sidebar-top"></div>
	<div class="sidebar-bottom">
			<img src="http://www.gravatar.com/avatar/05e56d6b576f8df89bd1f47622e71d27?s=90" class="img-circle" id="gravatar">
			<h1>Harrison Sweeney</h1>
			<h3><span>Developer <abbr title="and">&</abbr> Designer</span></h3>
			<span class="sidebar-location tk-ff-tisa-web-pro"><i class="icon-map-marker"></i>  Perth, Australia</span>
	</div>
</header>
<div class="main">
	<article class="article">
		{% if page.title %}
		<header class="article-header">
			<span class="article-label badge badge-info"><i class="icon-book icon-2x"></i></span>
			<h1 class="article-title"><a class="article-link" href="#">{{ page.title }}</a></h1>
			<time class="article-date">{{ page.date | date: "%B %Y" }}</time>
		</header>
		{% endif %}
		<div class="article-body">
			{{ content }}
		</div>
	</article>
</div>
