---
layout: default
style: blog
---
<header class="sidebar">
	<div class="wrapper">
			<img src="http://www.gravatar.com/avatar/05e56d6b576f8df89bd1f47622e71d27?s=100" class="img-circle" id="gravatar">
			<h1>Harrison Sweeney</h1>
			<h3><span>Developer <abbr title="and">&</abbr> Designer</span></h3>
	</div>
</header>
<div class="main">
	<article class="article">
		<header class="article-header">
			<h1 class="article-title"><a class="article-link" href="#">{{ page.title }}</a></h1>
			<time class="article-date">{{ page.date | date_to_string }}</time>
		</header>
		<div class="article-body">
			{{ content }}
		</div>
		
		{% if page.comments %}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'harrisonsweeney'; // required: replace example with your forum shortname
		
			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endif %}
		
	</article>
</div>
