---
layout: default
title: Harrison Sweneey > Resume
---
<div class="container">
	<section id="about">
		<div class="row">
			<div class="page-header">
				<h2>About</h2>
			</div>
	    </div> 
	    <div class="row">
			<div class="span12">Harrison J. Sweeney is a penultimate year student at the University of Western Australia majoring in mechatronic engineering and finance. He also works for Scotch College as an academic tutor and is a co-founder of Tutoric - an online application aimed at connecting students to tutors. He plans to work in software engineering or technology consulting after graduation, and is currently seeking employment opportunities. </div>
		</div> 
	</section>
	
	<section id="education">
	    <div class="row">
			<div class="page-header">
				<h2>Education</h2>
			</div>
		</div>
		{% for uni in page.education %}
		<div class="row" style="padding: 35px 0 4px 0;">
			<div class="span8">
				<h4 style="margin: 0">{{ uni.name }}</h4> 
			</div>	
			<div class="span4"><h4 class="pull-right hidden-phone" style="margin: 0">{{ uni.city }}</h4>
			</div>
			
		</div> <!-- end row-->
			
		<div class="row">
			<div class="span6"><span style="font-style:italic; font-size: 15px;">{{ uni.degree }}</span></div>	
			<div class="span6">
			<span class="visible-phone label">{{ uni.date }}</span>
			<span class="hidden-phone pull-right" style="font-style:italic; font-size: 15px;" >{{ uni.date }}</span>
			
			</div>
		</div> <!-- end row-->
		{% endfor %}
	</section>
	
	<section id="experience">
		<div class="row">
			<div class="page-header">
				<h2>Professional and Leadership Experience </h2>
			</div>
		</div>
		{% for company in page.experience %}
		<div class="row" style="padding: 35px 0 4px 0;">
			<div class="span8">
				<h4 style="margin: 0">{{ company.name }}</h4>
				<a href="{{ company.website }}" target="_BLANK"><span class="badge">Website <i class="icon-arrow-right icon-white"></i></span></a>
			</div>	
			<div class="span4"><h4 class="pull-right hidden-phone" style="margin: 0">{{ company.city }}</h4>
			</div>
			
		</div> <!-- end row-->
			
		<div class="row">
			<div class="span6"><span style="font-style:italic; font-size: 15px;">{{ company.job }}</span></div>	
			<div class="span6">
			<span class="visible-phone label">{{ company.date }}</span>
			<span class="hidden-phone pull-right" style="font-style:italic; font-size: 15px;" >{{ company.date }}</span>
			
			</div>
		</div> <!-- end row-->
		{{ company.details }}
		{% endfor %}
	</section>
	
	<section id="technical">
		<div class="row">
			<div class="page-header">
				<h2>Technical</h2>
			</div>
		</div>
	
		<div class="row">
			<div class="span8">
				<div class="well">
					<h4>Selected Projects</h4>
					<hr />
					<ul>
						
					</ul>
					<a class="pull-right btn btn-small btn-inverse" href="http://github.com/h4rrison-james">Github Profile <i class="icon-arrow-right icon-white"></i></a><br />
				</div>
			</div>
		</div>
	</section>
</div>